<div class="container">
	<div class="header">
		<%= image_tag('logo.jpg') %>
	</div>
	<div class="header2">
		<a href="mailto:tomwnield@gmail.com"><%= image_tag('contact.png') %></a>
    </div>
</div>